@page "/person/detail/{id:int}"
@inject InsCorpDbContext db

<h3>Detail osoby</h3>
<hr />

<dl class="row">
    <dt class="col-sm-2">Jméno</dt>
    <dd class="col-sm-10">@person.FirstName</dd>
    <dt class="col-sm-2">Příjmení</dt>
    <dd class="col-sm-10">@person.LastName</dd>
    <dt class="col-sm-2">Datum narození</dt>
    <dd class="col-sm-10">@person.DateOfBirth.ToShortDateString()</dd>
    <dt class="col-sm-2">Email</dt>
    <dd class="col-sm-10">@person.Email</dd>
    <dt class="col-sm-2">RČ</dt>
    <dd class="col-sm-10">@person.BirthNumber</dd>
</dl>

@code {
    Person person = new();
    [Parameter]
    public int id { get; set; }
    protected override void OnInitialized()
    {
        person = db.Persons.Find(id);
    }
}
